# Required
BOT_TOKEN=
CLIENT_ID=1545861164615991336
MONGO_URI=mongodb+srv://majdhijazi213_db_user:gKSYIGzq3NkpVzP8@viora.hdmj4an.mongodb.net/?appName=Viora
SESSION_SECRET=Q08q-UG_aQrxznDXrv-FMp_Exy-0ZbEu
CALLBACK_URL=http://localhost:3000/auth/callback

# Optional
DASHBOARD_PORT=3000
MAIN_GUILD_ID=1004991928363917312
DASHBOARD_CLIENT_ID=1545861164615991336
DASHBOARD_CLIENT_SECRET=Q08q-UG_aQrxznDXrv-FMp_Exy-0ZbEu
DEFAULT_PREFIX=-
DEFAULT_LANGUAGE=en
NODE_ENV=development